[Desktop Entry]
Version=1337
Name=Apachenator
Comment=The best Apache front end of all time!
Path=/opt/apachenator/
Exec=/opt/apachenator/main.py
Icon=/opt/apachenator/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
